* {
    box-sizing: border-box;
}

body {
    background-color: #e4ecf6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    max-width: 100;
    height: 86%;
    border-radius: 30px;
    margin: 10px;
    
}

.card {
  position: ;
  transition: transform 0.3s ease;
  overflow: hidden;
  transform-origin: right;
  margin: 20px;
  
}

.card:hover {
  transform: scale(1.1);
}

.card-container {
  max-width: 300px; /* Defina o tamanho máximo para o contêiner */
  margin: 0 auto; /* Centralize o contêiner horizontalmente */
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 400px;
}

.inicio {
    margin-top: 90px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    margin-top: 70px;
}

.solidColor {
    background-color: #074286;
    float: right;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 60%;
    height: 180px;
    color: #ffffff;
    border-radius: 40px;

}

.shadow {
  filter: drop-shadow(0px 6px 7px #5e5e5e);
}

.inline {
    display: inline-block;
    margin: 5px;
}

.textoUnidades {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding: 0 20px;
    color: #ffffff;
    background: #074286;
    border-bottom: 1px solid #030443bc;
    filter: drop-shadow(0px 6px 7px #5e5e5e);
  }

  .logo,
.links {
  display: flex;
  align-items: center;
}

.logo {
  gap: 12px;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.logo h2 {
  font-size: 20px;
  font-weight: 400;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 20px;
  
}

.navbar a {
    color: inherit;
    text-decoration: none;
    transition: 0.25s;
    font-size: 18px;
  }
  
  a.join-link {
    display: grid;
    place-items: center;
    height: 40px;
    padding: 0 12px;
    border-radius: 6px;
    color: #f9f9f9;
    background: #01a081;
  }

.glow {
    -webkit-box-shadow:0px 0px 78px 9px rgba(46,157,255,0.33);
    -moz-box-shadow: 0px 0px 78px 9px rgba(46,157,255,0.33);
    box-shadow: 0px 0px 78px 9px rgba(46,157,255,0.33);
}

.login-form {
  display: grid;
  gap: 20px;
  place-items: center;
  width: 100%;
  margin: 0;
}

.login {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 90%;
  padding: 70px 30px 44px;
  border-radius: 1.25rem;
  background: #ffffff;
  text-align: center;
}

.login-form > input,
.login-form > button {
  height: 56px;
  width: 100%;
  outline: none;
  padding: 0;
  border-radius: 10px;
  font-family: inherit;
}

.login-form > input {
  background: #eeeeee;
  border: 0;
  font-size: 18px;
  padding: 20px;
  text-align: start;
}

.login-form > button {
  cursor: pointer;
  height: 56px;
  background: #074286;
  color: #f9f9f9;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  filter: drop-shadow(0px 6px 8px #51515199);
}

.login-form > a {
  color: #074286;
  font-size: 1rem;
  text-align: left;
  text-decoration: none;
}

.login > img {
  width: 160px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.login > h2 {
  color: rgba(0, 0, 0, 0.438);
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 10px;
}

.login > h3 {
  color: rgba(0, 0, 0, 0.83);
  margin: 0 0 50px;
  font-weight: 600;
  font-size: 2.5rem;
}

@media (width >= 500px) {
  .login {
    width: 70%;
  }
}

@media (width >= 680px) {
  .login {
    position: absolute;

    padding: 70px 30px 44px;
    margin: 0;
    height: 67%;
    width: 45%;
    border-radius: 1.25rem;
    padding-top: 90px;
  }
}

@media (width >= 500px) {
  body {
    padding: 0;
  }
}

input[type="date"]:before {
  color: rgba(0, 0, 0, 0.604);
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}
input[type="date"]:focus:before {
  content: '' !important;
}






.cadastro-form {
  display: grid;
  gap: 20px;
  place-items: center;
  width: 100%;
  margin: 0;
}

.cadastro {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 90%;
  padding: 70px 30px 44px;
  border-radius: 1.25rem;
  background: #ffffff;
  text-align: center;
}

.cadastro-form > input,
.cadastro-form > button {
  height: 56px;
  width: 100%;
  outline: none;
  padding: 0;
  border-radius: 10px;
  font-family: inherit;
}

.cadastro-form > input {
  background: #eeeeee;
  border: 0;
  font-size: 18px;
  padding: 20px;
  text-align: start;
}

.cadastro-form > button {
  cursor: pointer;
  height: 56px;
  background: #074286;
  color: #f9f9f9;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  filter: drop-shadow(0px 6px 8px #51515199);
}

.cadastro-form > a {
  color: #074286;
  font-size: 1rem;
  text-align: left;
  text-decoration: none;
}

.cadastro > img {
  width: 160px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.cadastro > h2 {
  color: rgba(0, 0, 0, 0.438);
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 30px;
}

.cadastro > h3 {
  color: rgba(0, 0, 0, 0.83);
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 2.5rem;
}

@media (width >= 500px) {
  .cadastro {
    position: absolute;
    width: 70%;
    height: 105%;
    margin-top: 120px;
  }
}

@media (width >= 680px) {
  .cadastro {
    position: absolute;

    padding: 70px 30px 44px;
    margin: 0;
    height: 105%;
    width: 45%;
    border-radius: 1.25rem;
    padding-top: 60px;
    margin-top: 120px;
  }
}

@media (width >= 500px) {
  body {
    padding: 0;
    
  }
}

.agendamento-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.selectbox {
  font-size: 1rem;
  background-color: #ffffff;
  height: 70%;
  width: 60%;
  padding: 4rem;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 14px #51515145);
  text-align: center;
}

.selectbox button {
  position: relative;
  cursor: pointer;
  height: 56px;
  background: #074286;
  color: #f9f9f9;
  border: 0;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  filter: drop-shadow(0px 6px 8px #51515199);
  width: 100%; /* Definindo a largura do botão para 100% */
}

.selectbox h3 {
  font-size: 2rem;
  margin-top: -0.5rem;
  margin-bottom: 3.8rem;
}


select,
.data {
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 0;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  color: #717171;
  background-color: #eeeeee;
  filter: drop-shadow(0px 3px 8px #51515145);
}

.input-wrapper {
  margin-bottom: 1.5rem;
}

@media (width >= 680px) {
  .selectbox {
    position: absolute;
    padding: 70px 30px;
    margin: 0;
    height: 60%;
    width: 45%;
    border-radius: 1.25rem;
    padding-top: 100px;
    margin-top: 120px;
  }
}

.box {
  background-color: #bdcbdc;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 14px #5151516c);
  text-align: center;
  width: 80%; /* Definindo a largura da caixa */
  margin: 0 auto; /* Centralizando horizontalmente */
  padding: 20px; /* Adicionando preenchimento interno */
  overflow: auto;
}


