/*==========Configurações do Header=========*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 90px;
    background-color: #333;
    color: #fff;
    flex-shrink: 0;
    /*gambiarra*/
    /*margin-left: -240px;
    margin-right:-240px;*/
}

.ubs-card div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
  
.logo-container {
    flex: 0 auto; 
}
  
.logo {
    max-height: 50px;
}

.profile-container {
    display: flex;
    align-items: center;
}
  
.profile-container button {
    margin-left: 10px;
}

/*==========Configurações da SideBar============*/

.sidebar {
    width: 200px; /* Largura desejada para a barra lateral */
    height: 100%; /* Altura completa da barra lateral */  
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #333;
    position:center;/* Mantém a barra lateral fixa na tela */
    /* top: 4px; /* Alinha a barra lateral no topo da tela */
    left: 0; /* Alinha a barra lateral à esquerda da tela */
    bottom: 0; /* Estende a barra lateral até o final da tela */
    
}
  
.content-container {
    margin-left: 200px; /* Largura da barra lateral, para garantir que o conteúdo não seja ocultado por ela */
    padding: 16px; /* Adiciona algum espaçamento ao redor do conteúdo */
}
  
ul {
    list-style: none; /* Remove os pontos da lista */
    padding: 0;
    margin: 0;
}
  
li {
    padding: 10px;
}
  
li a {
    text-decoration: none;
    color: #fff; /* Cor do texto dos links */
    font-size: 16px;
    display: block;
}
  